Databases/01. XML-Basics/task2,5,6,7/students.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:students" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="email">
        <xs:restriction base="xs:string">
            <xs:pattern value="[^@]+@[^\.]+\..+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="students">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="student">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="sex" type="xs:string" />
                            <xs:element name="birthDate" type="xs:date" />
                            <xs:element name="phone" type="xs:string" />
                            <xs:element name="email" type="xs:string" />
                            <xs:element name="course" type="xs:string" />
                            <xs:element name="specialty" type="xs:string" />
                            <xs:element name="facultyNumber" type="xs:int" />
                            <xs:element name="takenExams">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="exam">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="examName" type="xs:string" />
                                                    <xs:element name="tutor" type="xs:string" />
                                                    <xs:element name="score" type="xs:double" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>